@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
}

h1{
    font-weight: 700;
    font-size: 78px;
}

h1 span {
    background-color: #3ffff3;
}

p {
    font-weight: 500;
    font-size: 30px;
}

div {
    width: 100%;
}

img {
    width: 400px;
    height: auto;
    background-image: url(/DesafioUnidad15/Desafio_Ejercicio1/img/fondo.JPG);
}